[submodule "firmware/copter/external/vcpkg"]
	path = firmware/copter/external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "firmware/copter/external/mavlink_v2"]
	path = firmware/copter/external/mavlink_v2
	url = git@github.com:mavlink/c_library_v2.git
